body {
    min-height: 100vh;
    color: #000000;
    background-image: url("../images/MainPagebackgroundImage.png");
    background-size: 100%;
    background-position: top;
}

.container-fluid h1 {
    font-weight: 500;
    font-size: 50px;
    background: linear-gradient(90deg, #4fc3dc, #ff2d75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center; 
}

.container-fluid h1 span {
    border-bottom: 4px solid #8496bd;
    background: linear-gradient(90deg, #4fc3dc, #ff2d75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 7px;
    color: #0099cc;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.container-fluid {
    position: relative;
    height: 100vh;
}

.bubbles {
    position: relative;
    display: flex;
    z-index: -100;
}


.bubbles span {
    position: relative;
    width: 30px;
    height: 23px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.panel{
    width: 58%;
    margin: auto;
    height: 40vw;
    background-color: rgba(243, 142, 0);
    position: relative;
    bottom: 420px;
    left: 245px;
}

#prova2{
    color: white;
}